/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Alegreya', serif;
    background-color: #dfe6e9;
}