#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #dfe6e9;
}
#errors{
    background-color: red;
    padding: .4rem;
    border-radius: .4em;
    color: white;
}
#signup_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#signup_form *{
    margin-top: 1rem;
}
#signup_form .not_valid{
    border-color: red;
}