body {
	display: flex;
	align-items: center;
}
#login_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: max-content;
}
#login_form input:nth-child(2) {
	width: 14em;
}
#login_form span {
	width: 6em;
}
.show {
	display: block !important;
}
